<div>
  <h2><%= @manufacturer.name %></h2>
  <strong>Made in:</strong>
  <%= @manufacturer.country %>
</div>
<hr>
<div>
  <h2>
    <%= link_to "Click here to add a new car:", new_manufacturer_car_path(@manufacturer) %>
  </h2>
</div>
